* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 1200px;
    display: flex;
    align-items: center;
}
.container .menu {
    align-items: center;
    padding: 20px;
    width: 50px;
    margin-top: -250px;
}
.container .menu .list ul li {
    list-style: none;
    padding: 10px;
}
.container .menu .list a {
    text-decoration: none;
    color: #000;
    font-weight: thin;
    font-size: 14px;
}
.container .menu .list ul img {
    padding: 0;
    width: auto;
    height: auto;
}
.container .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding:0 10px;
}
.container .main .top {
    width: 100%;
    padding: 15px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    gap: 130px;
}

.container .main .top .logo img{
    width: 120px;
    height: 40px; 
}
.container .main .top .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.container .main .top .search a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.container .main .top .search a input{
    width: 500px;
    height: 40px;
    border-radius: 30px 0 0 30px;
    border: 1px solid gray;
    padding: 10px ;
}
.container .main .top .search a  img {
    border-radius: 0 30px 30px 0;
    border: 1px solid gray;
    border-left: none;
    background-color: rgb(241, 237, 237);
    width: 24px;
    height: 24px;
    padding: 7px 25px;
}
.container .main .top .search  img {
    width: 20px;
    height: 24px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: rgb(240, 237, 237);
}

.container .main .top .right ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.container .main .top .right ul a{
    text-decoration: none;
    display: flex;
    margin: 0 12px;
}
.container .main .top .right  ul img {
    width: 24px;
    height: 24px;
}
.container .main .top .right ul .photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.container .main .content .trend {
    height: 50px;
    padding: 15px 20px ;
}
.container .main .content .trend ul{
    list-style: none;
    display: flex;
    gap: 20px;   
}
.container .main .content .trend ul a {
    text-decoration: none;
    color: #000;
    border: 1px solid transparent;
    background-color: rgb(238, 235, 235);
    padding: 10px;
    border-radius: 10px;
}
.container .main .content .trend ul a:hover{
    background-color: #000;
    color: white;
}
.container .main .content .suggestions {
    
    display: flex;
    flex-wrap: wrap;
    align-items: start; 
}
.container .main .content .suggestions .suggestion {
    padding: 20px ;
}
.container .main .content .suggestions .suggestion .video iframe {
    width: 350px;
    height: 200px;
    border-radius: 10px; 
}
.container .main .content .suggestions .suggestion .infos h1{
    font-size: 16px;
    padding: 10px 5px;
}
.container .main .content .suggestions .suggestion .info {
    display: flex;
}
.container .main .content .suggestions .suggestion .info .left {
    display: flex;
    gap: 10px;
    align-items: center;
}
.container .main .content .suggestions .suggestion .info .left a {
    text-decoration: none;
    color: #000;
}
.container .main .content .suggestions .suggestion .info .left a img {
    width: 16px;
    height: 16px;
}
.container .main .content .suggestions .suggestion .info .left img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.container .main .content .suggestions .suggestion .info .left p {
    font-size: 16px;
    font-weight: bold;
}
.container .main .content .suggestions .suggestion .info .left span {
    font-size: 14px;
    font-weight: lighter;
    color: #494747;
}
.container .main .content .suggestions .suggestion .info .left span i {
    font-size: 8px;
    margin: 0 8px;
}





















/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    width: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    width: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   background: #555;
   border-radius: 5px;
   width: 5px;
  }